footer {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    text-decoration: none;
}

.social-links img {
    width: 40px; /* Adjust size */
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.2);
}
